@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Kategori Güncelleme Sayfası</h1>
<br />
<form class="form-group" action="CategoryUpdate" asp-controller="Category" method="post" enctype="multipart/form-data">

        @Html.Label("Kategori Id")
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })

        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })

        @Html.Label("Kategori Açıklaması")
        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })

        @*<br />
            @Html.Label("Resim Güncelle")
            <input type="file" name="imageUrl" />*@
        <br />
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
