@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Ürün Ekleme Sayfası</h1>
<br />
<form class="form-group" action="ProductAdd" asp-controller="Product" method="post" enctype="multipart/form-data">

    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })

    @Html.Label("Ürün Fiyatı")
    @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control" })

    @Html.Label("Ürün Açıklaması")
    @Html.TextBoxFor(x => x.ProductDescription, new { @class = "form-control" })

    @Html.Label("Kategorisi")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    
    <br />
    <button type="submit" class="btn btn-info">Kaydet</button>
</form>